<div class="row d-lg-none pt-4 pb-4">
    <div class="col-md-10 offset-md-1 col-12 text-center">
        <a href="https://www.iesalmudeyne.es" target="_blank">
            @if(!darkMode) {
                <img src="../../assets/IESA-Logo.png" class="logo p-3" alt="IESA Logo"/>
            } @else {
                <img src="../../assets/IESA-LogoLight.png" class="logo p-3" alt="IESA Logo"/>
            }
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 offset-lg-2 col-12 mt-lg-5 mt-3">
        <div id="carouselExampleAutoplaying" class="carousel slide mt-4" data-bs-ride="carousel" data-bs-interval="8000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/quill.jpg" class="d-block w-100" alt="Editor de texto Quill">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>Editor de texto Quill</h4>
                        <h6>Ahora puede llevar su creatividad a otro nivel con el editor de texto Quill!</h6>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/duplicado.png" class="d-block w-100" alt="Duplicado de documentos">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>Duplicado de documentos</h4>
                        <h6>Ahorra trabajo y tiempo duplicando tus documentos!</h6>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/themes.jpg" class="d-block w-100" alt="Temas claro y oscuro">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>Temas claro y oscuro</h4>
                        <h6>Ahora DocBuilder puede ajustarse visualmente a tu gusto!</h6>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/cifrado.jpg" class="d-block w-100" alt="Cifrado de contraseñas">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>Cifrado de contraseñas</h4>
                        <h6 class="longText">Ahora tu contraseña está más segura que nunca con el recién integrado sistema de cifrado!</h6>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/responsividad.jpg" class="d-block w-100" alt="Cifrado de contraseñas">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>Responsividad</h4>
                        <h6 class="longText">Ahora DocBuilder se ajusta a distintos tamaños de pantalla!</h6>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>