.logo {
    width: 60%;
    border-radius: 50%;
    background-color: var(--color-background);
}

.carousel {
    border: solid 2px;
    border-color: var(--color-text);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
}

.longText {
    margin: 5%;
}

.carousel-item {
    transition: transform 0.6s ease-in-out !important;
}