.deleteBtn {
    color: rgb(187, 39, 39);
    cursor: pointer;
}
.editBtn {
    color: rgb(134, 187, 239);
    cursor: pointer;
}
.registroBox {
    padding: 4%;
    text-align: left;
    margin-top: 4%;
}
button:disabled {
    opacity: 0.3;
}