input.ng-touched.ng-invalid, 
select.ng-touched.ng-invalid, 
textarea.ng-touched.ng-invalid {
  border-color: red;
  background-color: #ffe6e6;
}

.table-responsive > table {
  min-width: 1200px;
}

.info {
  cursor: pointer;
}

.text-warning {
  color: var(--color-warning) !important;
}