@if(mostrarLista) {
    <table class="table table-hover">
        <thead class="tableHead">
            <tr>
                <th scope="col">DNI</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Usuario</th>
                <th scope="col">Perfil</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="tableBody">
            @for (usuario of listaUsuario; track usuario.id) {
                <tr>
                    <td scope="row">{{usuario.dni}}</td>
                    <td scope="row">{{usuario.nombre}}</td>
                    <td scope="row">{{usuario.apellidos}}</td>
                    <td scope="row">{{usuario.usuario}}</td>
                    <td scope="row">{{usuario.perfil}}</td>
                    <td scope="row" class="text-end">
                        <button class="btn" (click)="mostrarModificar(usuario.id, usuario.usuario)" style="margin-right: 10px;">
                            <i class="fa-solid fa-pen tableBtn" alt="Editar sección"></i>
                        </button>
                        <button class="btn" (click)="eliminar(usuario.id, usuario.nombre, usuario.apellidos)">
                            <i class="fa-solid fa-trash tableBtn" alt="Eliminar sección"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if(mostrarModificarForm) {
    <div class="row">
        <div class="col-6 offset-3 registroBox rounded-5 shadow">
            <form [formGroup]="editUserForm" (ngSubmit)="modificar(idEditUser)">

                <div class="row">
                    <div class="col">
                        <label for="dni" class="mb-2">DNI:</label>
                        <input class="form-control" type="text" id="dni" formControlName="dni">
                    </div>
                    <div class="col">
                        <label for="nombre" class="mb-2">Nombre:</label>
                        <input class="form-control" type="text" id="nombre" formControlName="nombre">
                    </div>
                </div>
    
                <div class="row mt-4">
                    <div class="col">
                        <label for="apellidos" class="mb-2">Apellidos:</label>
                        <input class="form-control" type="text" id="apellidos" formControlName="apellidos">
                    </div>
                    <div class="col">
                        <label for="usuario" class="mb-2">Usuario:</label>
                        <input class="form-control" type="text" id="usuario" formControlName="usuario">
                    </div>
                </div>
    
                <div class="mt-4">
                </div>
                <div class="row mt-4">
                    <div class="col d-flex align-items-end">
                        <button class="btn btn-warning w-100" type="button" (click)="mostrarEditPass()">Cambiar contraseña</button>
                    </div>
                    <div class="col">
                        <label for="perfil" class="mb-2">Perfil:</label>
                        <select class="form-select" id="perfil" formControlName="perfil">
                            <option value="ADMINISTRADOR">Administrador/a</option>
                            <option value="PROFESOR">Profesor/a</option>
                        </select>
                    </div>
                </div>
                
                <div class="row mt-5">
                    <div class="col-6 text-center">
                        <button class="btn btn-secondary w-75" type="button" (click)="cancelarEdit()">Cancelar</button>
                    </div>
                    <div class="col-6 text-center">
                        <button class="btn btn-primary w-75" type="submit">Aplicar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
}
@if(mostrarPassForm) {
    <div class="row">
        <div class="col-6 offset-3 registroBox rounded-5 shadow">
            <form [formGroup]="editUserPassForm" (ngSubmit)="modificarPass(idEditUser)">

                <div class="row mt-4">
                    <div class="col">
                        <label for="contrasena" class="mb-2">Contraseña:</label><!--! AVISAR D QUE NO SE PUEDEN REVERTIR CAMBIOS -->
                        <div class="input-group mb-3">
                            <input class="form-control" [type]="verContrasena ? 'text' : 'password'" id="contrasena" formControlName="contrasena">
                            @if(!verContrasena) {
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="mostrarContra()">
                                    <i class="fa fa-eye"></i>
                                </button>
                            } @else {
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="mostrarContra()">
                                    <i class="fa fa-eye-slash"></i>
                                </button>
                            }
                        </div><!--! PONER UNA LEYENDA DE LOS REQUISITOS -->
                    </div>
                </div>
                
                <div class="row mt-5">
                    <div class="col-6 text-center">
                        <button class="btn btn-secondary w-75" type="button" (click)="salirPassEdit()">Cancelar</button>
                    </div>
                    <div class="col-6 text-center">
                        <button class="btn btn-primary w-75" type="submit">Aplicar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
}