.mainDiv {
    margin-bottom: 10%;
    color: var(--color-text);
}

.mainDiv hr {
    border-color: var(--color-text);
}

.activo {
    background-color: var(--color-primary);
}

i {
    width: 16px;
    height: 16px;
}

.nav-link:hover {
    background-color: rgb(119, 119, 119);
    cursor: pointer;
}