<div class="row m-0 p-0">
    @if (ocultarMenuNav != true) {
        <div class="col-2 d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vh-100 sticky-top">
            <a class="d-flex align-items-center text-white text-decoration-none" href="#" (click)="cambiarMenu('lobby')">
                <i class="fa-solid fa-file-pdf bi me-2" style="width: 40px; height: 40px;"></i>
                <span class="fs-4">DocBuilder</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item mb-3">
                    <a class="nav-link text-white" 
                       aria-current="page" 
                       href="#" 
                       (click)="cambiarMenu('lobby')"
                       [ngClass]="{ 'activo': menuActual === 'lobby' }">
                        <i class="fa-solid fa-house bi me-2"></i> Inicio
                    </a>
                </li>
                @if(permisos) {
                    <li class="nav-item mb-3 dropdown dropend">
                        <a class="nav-link dropdown-toggle text-white" 
                           href="#" 
                           role="button" 
                           data-bs-toggle="dropdown"
                           [ngClass]="{ 'activo': menuActual === 'registro' }"
                           [ngClass]="{ 'activo': menuActual === 'buscarUsuarios' }">
                            <i class="fa-solid fa-users bi me-2"></i> Usuarios
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <a class="dropdown-item" 
                                   href="#" (click)="cambiarMenu('registro')" 
                                   [ngClass]="{ 'activo': menuActual === 'registro' }">
                                   Registrar</a>
                            </li>
                            <li>
                                <a class="dropdown-item" 
                                   href="#" (click)="cambiarMenu('buscarUsuarios')" 
                                   [ngClass]="{ 'activo': menuActual === 'buscarUsuarios' }">
                                   Buscar</a>
                            </li>
                        </ul>
                    </li>
                }
                @if(!root) {
                    <li class="nav-item mb-3 dropdown dropend">
                        <a class="nav-link dropdown-toggle text-white" 
                        href="#" 
                        role="button" 
                        data-bs-toggle="dropdown"
                        [ngClass]="{ 'activo': menuActual === 'editor' }"
                        [ngClass]="{ 'activo': menuActual === 'buscarDocumentos' }">
                            <i class="fa-solid fa-file-invoice bi me-2"></i> Documentos
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <a class="dropdown-item" 
                                   href="#" 
                                   (click)="cambiarMenu('editor')"
                                   [ngClass]="{ 'activo': menuActual === 'editor' }">
                                   Nuevo</a>
                            </li>
                            <li>
                                <a class="dropdown-item" 
                                   href="#" 
                                   (click)="cambiarMenu('buscarDocumentos')"
                                   [ngClass]="{ 'activo': menuActual === 'buscarDocumentos' }">
                                   Buscar</a>
                            </li>
                        </ul>
                    </li>
                }
                <li class="nav-item mb-3">
                    <a class="nav-link text-white" 
                       id="themeBtn" 
                       aria-current="page" 
                       (click)="cambiarTema()">
                        <i id="themeIcon" class="fa-solid fa-moon bi me-2"></i>
                        {{ darkMode ? 'Modo Claro' : 'Modo Oscuro' }}
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="#" (click)="cerrarSesion()">
                        <i class="fa-solid fa-right-to-bracket bi me-2"></i> Cerrar sesión
                    </a>
                </li>
            </ul>
        </div>
    }

    <div class="mainDiv" [ngClass]="ocultarMenuNav ? 'col-12' : 'col-10'">
        @if (menuActual === 'registro') {
            <h2 class="mt-3 ms-3">REGISTRO DE USUARIO</h2><hr>
            <div class="m-4">
                <app-registro (ocultarMenu)="ocultarMenu($event)"></app-registro>
            </div>
        }

        @if (menuActual === 'login') {
            <h2 class="mt-3 ms-3">INICIO DE SESIÓN</h2><hr>
            <div class="m-4">
                <app-login></app-login>
            </div>
        }

        @if (menuActual === 'lobby') {
            <h2 class="mt-3 ms-3">INICIO</h2><hr>
            <div class="m-4">
                <app-lobby></app-lobby>
            </div>
        }

        @if (menuActual === 'buscarUsuarios') {
            <h2 class="mt-3 ms-3">LISTA DE USUARIOS</h2><hr>
            <div class="m-5">
                <app-lista-usuarios (ocultarMenu)="ocultarMenu($event)"></app-lista-usuarios>
            </div>
        }

        @if (menuActual === 'editor') {
            <h2 class="mt-3 ms-3">NUEVO DOCUMENTO</h2><hr>
            <div class="m-4">
                <app-editor (ocultarMenu)="ocultarMenu($event)"></app-editor>
            </div>
        }

        @if (menuActual === 'buscarDocumentos') {
            <h2 class="mt-3 ms-3">LISTA DE DOCUENTOS</h2><hr>
            <div class="m-5">
                <app-lista-documentos (ocultarMenu)="ocultarMenu($event)"></app-lista-documentos>
            </div>
        }
    </div>
</div>