.mainDiv {
    margin-bottom: 8%;
    color: var(--color-text);
}

.mainDiv hr {
    border-color: var(--color-text);
}

.activo {
    background-color: var(--color-primary);
}

.info {
  cursor: pointer;
}

.activoInfo {
    color: var(--color-warning);
}

i {
    width: 16px;
    height: 16px;
}

.nav-link:hover {
    background-color: rgb(119, 119, 119);
    cursor: pointer;
}

.subMenuItem:hover {
    background-color: rgb(69, 69, 69);
    cursor: pointer;
}

.userIcon {
    background-color: var(--color-secondarySelected);
    border-radius: 50%;
    width: 46px;
    height: 46px;
    cursor: pointer;
}

.fa-user {
    color: white;
    width: 22px;
    height: 22px;
}

.userName {
    border-right: 1px solid;
    border-color: var(--color-text);
}

hr {
    margin-left: 1%;
    margin-right: 1%;
}

.hrMenu {
    margin-top: 22.5px;
}

.mainDiv h2, .lobbyHeader {
    width: 98%;
}

.userIcon-container {
    position: relative;
}

.subMenu {
    position: absolute;
    top: 110%;
    right: 0;
    z-index: 1050;
    display: none;
}

.subMenu.show {
    display: block;
}