.mainDiv {
    margin-bottom: 10%;
    color: var(--color-text);
}

.mainDiv hr {
    border-color: var(--color-text);
}

.activo {
    background-color: var(--color-primary);
}

i {
    width: 16px;
    height: 16px;
}

.nav-link:hover {
    background-color: rgb(119, 119, 119);
    cursor: pointer;
}

.subMenuItem:hover {
    background-color: rgb(69, 69, 69);
    cursor: pointer;
}

.userIcon {
    background-color: var(--color-secondarySelected);
    border-radius: 50%;
    width: 46px;
    height: 46px;
    cursor: pointer;
}

.fa-user {
    color: white;
    width: 22px;
    height: 22px;
}