<div class="row d-flex justify-content-center">
    <div class="col-md-8 col-12 editorBox shadow">
        @if(mostrarDocForm) {
            <form [formGroup]="docForm" (ngSubmit)="crearDoc()">
                <div class="row">
                    <label for="documento" class="mb-2">Nombre del documento:</label>
                    <div class="col-12 mb-3">
                        <input type="text" class="form-control" formControlName="nombre"
                        [ngClass]="{'is-invalid': docForm.get('nombre')?.touched && docForm.get('nombre')?.invalid}">
                        @if (docForm.get('nombre')?.touched && docForm.get('nombre')?.invalid) {
                            <small class="text-danger">El nombre no puede contener carácteres especiales</small>
                        }
                    </div>
                </div>
                
                <div class="row mt-5 d-flex justify-content-end">
                    <div class="col-md-6 col-10 text-end">
                        <button class="btn btn-secondary btnDocForm" type="button" (click)="salir()" style="margin-right: 15px;">Salir</button>
                        <button class="btn btn-primary btnDocForm" type="submit">Crear</button>
                    </div>
                </div>
            </form>
        }
        @if(mostrarSecForm) {
            <form [formGroup]="docForm" class="pb-4">
                <div class="row">
                    <label for="documento" class="mb-2">Nombre del documento:</label>
                    <div class="col-12 mb-3">
                        <input type="text" class="form-control" formControlName="nombre"
                        [ngClass]="{'is-invalid': docForm.get('nombre')?.touched && docForm.get('nombre')?.invalid && docForm.get('nombre')?.value}">
                        @if (docForm.get('nombre')?.touched && docForm.get('nombre')?.invalid && docForm.get('nombre')?.value) {
                            <small class="text-danger">El nombre no puede contener carácteres especiales</small>
                        }
                    </div>
                </div>
            </form>
            <h2>{{docForm.value.nombre}}: {{secForm.value.nombre}}</h2>
            <form [formGroup]="secForm" (ngSubmit)="anadirSec()">
                <div class="container p-0 mt-lg-2 mt-4">

                    <div class="row">
                        <div class="col-md-10 col-12 mb-md-0 mb-3">
                            <label for="seccion" class="mb-2">Título de la sección:</label>
                            <input class="form-control" type="text" formControlName="nombre"
                            [ngClass]="{'is-invalid': secForm.get('nombre')?.touched && secForm.get('nombre')?.invalid && secForm.get('nombre')?.value}">
                            @if (secForm.get('nombre')?.touched && secForm.get('nombre')?.invalid && secForm.get('nombre')?.value) {
                                <small class="text-danger">El título no puede contener carácteres especiales</small>
                            }
                        </div>
                        <div class="col-md-2 col-4">
                            <label for="seccion" class="mb-2">Índice:</label>
                            <input class="form-control" type="number" formControlName="numero" placeholder="Nº">
                        </div>
                    </div>

                    <div class="row mt-4">
                        <label for="contenido" class="mb-2">Contenido de la sección:</label>
                        <quill-editor 
                            formControlName="contenido" 
                            [modules]="{ toolbar: toolbarOptions }" 
                            [placeholder]="'Escribe aquí...'"
                            theme="snow"
                            class="mb-5">
                        </quill-editor>
                        
                        <div class="col-12 d-md-none d-block mt-md-0 mt-5 pt-md-0 pt-3"></div>
                        <div class="col-xl-6 offset-xl-6 col-12 text-end mt-xl-3 mt-md-5 mb-4">
                            <button class="btn btn-secondary" type="button" (click)="resetSecForm()" style="margin-right: 15px;">Reiniciar sección</button>
                            <button class="btn btn-primary" type="submit">Añadir sección</button>
                        </div>
                    </div>

                </div>
            </form>
            <div class="mt-3 d-flex flex-row">
                <div>
                    <h2>Secciones</h2>
                </div>
                <div class="info ms-3" (click)="toggleInfo()" [ngClass]="{ 'activo': showInfo === true }">
                    <i class="fa-solid fa-circle-info mt-lg-3 mt-2"></i>
                </div>
            </div>
            @if (showInfo) {
                <small class="text-warning mb-3 d-block" style="color: var(--color-warningSelected);">En caso de que no se muestre la tabla completa, puedes deslizarla horizontalmente.</small>
            }
            <div class="table-responsive">
                <table class="table table-hover table2">
                    <thead class="tableHead">
                        <tr>
                            <th scope="col" style="width: 58%;">Sección</th>
                            <th scope="col" style="width: 12%;">Índice</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="tableBody">
                        @for(seccion of listaSecciones; track seccion.id) {
                            <tr>
                                <td scope="row">{{ seccion.nombre }}</td>
                                <td scope="row">{{ seccion.numero }}</td>
                                <td scope="row" class="text-end">
                                    <button class="btn" (click)="mostrarModificar(seccion.id)">
                                        <i class="fa-solid fa-pen tableBtn" alt="Editar sección"></i>
                                    </button>
                                    <button class="btn" (click)="eliminarSec(seccion.id, seccion.nombre)">
                                        <i class="fa-solid fa-trash tableBtn" alt="Eliminar sección"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row mt-5 d-flex justify-content-end">
                <div class="col-xl-6 col-12 text-end">
                    <button class="btn btn-secondary" type="button" (click)="salir()" style="margin-right: 15px;">Salir</button>
                    <button class="btn btn-primary" type="button" (click)="aplicar()">Aplicar secciones</button>
                </div>
            </div>
        }
        @if(mostrarEditarSec) {
            <form [formGroup]="editSecForm" (ngSubmit)="modificarSec(idEditSec)">
                <div class="container">

                    <div class="row">
                        <div class="col-md-10 col-12 mb-md-0 mb-3">
                            <label for="seccion" class="mb-2">Título de la sección:</label>
                            <input class="form-control" type="text" formControlName="nombre"
                            [ngClass]="{'is-invalid': editSecForm.get('nombre')?.touched && editSecForm.get('nombre')?.invalid && editSecForm.get('nombre')?.value}">
                            @if (editSecForm.get('nombre')?.touched && editSecForm.get('nombre')?.invalid && editSecForm.get('nombre')?.value) {
                                <small class="text-danger">El título no puede contener carácteres especiales</small>
                            }
                        </div>
                        <div class="col-md-2 col-4">
                            <label for="seccion" class="mb-2">Índice:</label>
                            <input class="form-control" type="number" formControlName="numero" placeholder="Nº">
                        </div>
                    </div>

                    <div class="row mt-4">
                        <label for="contenido" class="mb-2">Contenido de la sección:</label>
                        <quill-editor 
                            formControlName="contenido" 
                            [modules]="{ toolbar: toolbarOptions }" 
                            [placeholder]="'Escribe aquí...'"
                            theme="snow"
                            class="mb-5">
                        </quill-editor>
        
                        <div class="col-md-6 col-12 offset-md-6 text-end mt-5 pt-md-0 pt-4">
                            <button class="btn btn-secondary" type="button" (click)="cancelarEdit()" style="margin-right: 15px;">Cancelar</button>
                            <button class="btn btn-primary" type="submit">Aplicar</button>
                        </div>
                    </div>

                </div>
            </form>
        }
    </div>
</div>