.table2 .tableBody {
    --bs-table-bg: var(--color-background2) !important;
}

.btnDocForm {
    width: 42%;
}

.table-responsive > table {
    min-width: 400px;
}

.info {
    cursor: pointer;
}

.activo {
    color: var(--color-warning);
}