@import "~quill/dist/quill.snow.css";
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";

.bg {
    background-image: url("assets/azulClaro.jpg");
    background-size: cover;
}

img.avoid-break {
    page-break-inside: avoid;
}

.ql-toolbar {
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 1000;
}