<div class="row">
    <div class="col-6 offset-3 registroBox rounded-5 shadow">
        <form [formGroup]="form" (ngSubmit)="crear()">
            
            <div class="row">
                <div class="col">
                    <label for="dni" class="mb-2">DNI:</label>
                    <input class="form-control" type="text" id="dni" formControlName="dni">
                    @if (form.get('dni')?.touched && form.get('dni')?.invalid) {
                        <small style="color: red;">Este campo debe tener 8 dígitos y 1 letra</small>
                    }
                </div>
                <div class="col">
                    <label for="nombre" class="mb-2">Nombre:</label>
                    <input class="form-control" type="text" id="nombre" formControlName="nombre">
                    @if (form.get('nombre')?.touched && form.get('nombre')?.invalid) {
                        <small style="color: red;">Este campo es obligatorio</small>
                    }
                </div>
            </div>

            <div class="row mt-4">
                <div class="col">
                    <label for="apellidos" class="mb-2">Apellidos:</label>
                    <input class="form-control" type="text" id="apellidos" formControlName="apellidos">
                    @if (form.get('apellidos')?.touched && form.get('apellidos')?.invalid) {
                        <small style="color: red;">Este campo es obligatorio</small>
                    }
                </div>
                <div class="col">
                    <label for="usuario" class="mb-2">Usuario:</label>
                    <input class="form-control" type="text" id="usuario" formControlName="usuario">
                </div>
            </div>

            <div class="mt-4">
            </div>
            <div class="row mt-4">
                <div class="col">
                    <label for="contrasena" class="mb-2">Contraseña:</label>
                    <div class="input-group">
                        <input class="form-control" [type]="verContrasena ? 'text' : 'password'" id="contrasena" formControlName="contrasena">
                        @if(!verContrasena) {
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="mostrarContra()">
                                <i class="fa fa-eye"></i>
                            </button>
                        } @else {
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="mostrarContra()">
                                <i class="fa fa-eye-slash"></i>
                            </button>
                        }
                    </div>
                    @if (form.get('contrasena')?.touched && form.get('contrasena')?.invalid) {
                        <small style="color: red;">Requisitos de la contraseña: 8 caracteres en total, 1 minúscula, 1 mayúscula, 1 dígito, 1 caracter especial</small>
                    }
                </div>
                <div class="col">
                    <label for="perfil" class="mb-2">Perfil:</label>
                    <select class="form-select" id="perfil" formControlName="perfil">
                        <option value="ADMINISTRADOR">Administrador/a</option>
                        <option value="PROFESOR">Profesor/a</option>
                    </select>
                    @if (form.get('perfil')?.touched && form.get('perfil')?.invalid) {
                        <small style="color: red;">Este campo es obligatorio</small>
                    }
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-6 text-center">
                    <button class="btn btn-secondary w-75" type="button" (click)="cancelar()">Cancelar</button>
                </div>
                <div class="col-6 text-center">
                    <button class="btn btn-primary w-75" type="submit">Registrar</button>
                </div>
            </div>
            
        </form>
    </div>
</div>